* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button:hover {
  background-color: white;
  color: #000000;
}

#workspaces {
  margin: 0 6px;
}

#workspaces button {
  padding: 0 8px;
  background: none;
  color: white;
}

#workspaces button.active {
  border-bottom: 2px solid white;
}

#workspaces button.urgent {
  border-bottom: 2px solid red;
}

#window {
  padding: 0 10px;
}

/* Modules (Right side) */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  background-color: green;
  color: white;
}

#battery.critical:not(.charging) {
  background-color: red;
  color: white;
}

#battery.warning:not(.charging) {
  background-color: red;
  color: white;
}

#temperature.critical {
  background-color: red;
  color: white;
}

#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 0 2px;
}
#tray > .needs-attention {
  color: red;
  border-bottom-color: red;
}
