* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

/* Bar */
window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Buttons */
button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button:hover {
  background-color: #1f1d2e; /* surface */
  color: #e0def4;
}

/* Workspaces */
#workspaces {
  margin: 0 6px;
}

#workspaces button {
  padding: 0 8px;
  background: none;
  color: #e0def4;
}

#workspaces button.active {
  border-bottom: 2px solid #c4a7e7; /* iris */
}

#workspaces button.urgent {
  border-bottom: 2px solid #eb6f92; /* love */
}

/* Window title */
#window {
  padding: 0 10px;
  color: #e0def4;
}

/* Modules (Right side) */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
  color: #e0def4;
}

/* Battery states */
#battery.charging,
#battery.plugged {
  background-color: #31748f; /* pine */
  color: #e0def4;
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
  background-color: #eb6f92; /* love */
  color: #191724;
}

/* Temperature */
#temperature.critical {
  background-color: #eb6f92; /* love */
  color: #191724;
}

/* Tray */
#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 0 2px;
}

#tray > .needs-attention {
  color: #eb6f92; /* love */
  border-bottom-color: #eb6f92;
}

