[Desktop Entry]
Type=Application
TryExec=kitty
Exec=kitty
Terminal=false
Categories=System;TerminalEmulator;
Name=Kitty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Kitty
Actions=New;
X-TerminalArgExec=-e
X-TerminalArgAppId=--class=
X-TerminalArgTitle=--title=
X-TerminalArgDir=--working-directory=

[Desktop Action New]
Name=New Terminal
Exec=Kitty
