include "./monitors.kdl"
include "./environment.kdl"
include "./input.kdl"
include "./autostart.kdl"
include "./layer-rules.kdl"
include "./window-rules.kdl"
include "./bindings.kdl"
include "./misc.kdl"

overview {
   zoom 0.5
   workspace-shadow {
	   off
   }
}

layout {
    gaps 8
    always-center-single-column
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring { off; }

    border {
	    width 2
      active-color "#7aa2f7"
      inactive-color "#292e42"
    }

    struts {
        left 2
        right 2
        top 2
        bottom 2
    }
}
