input {
    keyboard {
        xkb {}

        repeat-delay 200
        repeat-rate 25
    }

    touchpad {
      tap 
      natural-scroll 
      accel-profile "flat"
    }

    mouse {
      accel-profile "flat"
      scroll-factor 2.0
  }

    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
  xcursor-theme "Qogir-cursors"
  xcursor-size 28
  hide-when-typing
}
