prefer-no-csd
screenshot-path null

hotkey-overlay {
    // Avoid auto-showing the important hotkeys menu.
    skip-at-startup
}

gestures {
    // Disable overview when mousing over the top left of primary screen.
    hot-corners {
        // off
    }
}
